<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% load static %}
<h1>DJANGO NOTES APP</h1>
<h2>{{ detail_note.title }}</h2>
<h5>{{ detail_note.created }}</h5>
<h3>{{ detail_note.desc }}</h3>
{% if detail_note.fav %}
<h5>marked as {{ detail_note.is_fav }}</h5>
{% endif %}
<div>
    {% if detail_note.note_img %}
    <img style="width:10vw" src="{{ detail_note.note_img.url }}" alt="image of note">
    {% endif %}
</div>
<!-- <h3>{{ request.path }}</h3> -->
<!-- <h3><a href="{{ request.path }}/update">UPDATE</a></h3>
<h3><a href="{{ request.path }}/delete">DELETE</a></h3> -->
<div>
    <button  onclick="window.location.href='{{ request.path }}/delete';">Delete Note {{detail_note}}</button>
    <button  onclick="window.location.href='{{ request.path }}/update';">Update Note {{detail_note}}</button>
</div>

