{% load static %}

<h1>DJANGO NOTES APP</h1>
{% with space="  " %}    
{% for notes in all_notes %}
<h2>
    <a href="detail/{{notes}}">{{ forloop.counter }}{{ space }}{{ notes }}{{ space }}
    {% if notes.fav %}
    <img style="width:2vw" src="{% static 'Notes/star.png'%}" alt="">
    {% endif %}
    </a>
</h2>
{% endfor %}
{% endwith %}
<br>
<button  onclick="window.location.href='{% url 'Notes:create' %}';">Create a Note</button>
<button  onclick="window.location.href='{% url 'Notes:collections' %}';">Show my collections</button>

<!-- <h1><a href="{% url 'Notes:create' %}">CREATE</a></h1> -->